@use '../abstracts' as *;

.socialLinks {
  width: 90%;
  @include flex(row, space-around, center);
  color: $iconsColor;
  padding: 3rem 0;

  span {
    height: 1.7rem;
    margin-right: 1rem;

    img {
      height: 100%;
    }
  }
}
