@use '../abstracts' as *;

.socialLinks {
  @include flex(row, center, center);
  color: $iconsColor;
  margin: 0 auto;
  padding: 3rem 0;

  span {
    height: 1.7rem;
    margin: 0 1rem;

    img {
      height: 100%;
    }
  }
}
