$green: rgba(84, 230, 175, 1);
$lightGreen: rgba(179, 255, 226, 1);
$darkGrey: rgba(44, 52, 75, 1);
$lightGrey: rgba(90, 102, 138, 1);
$veryLightGrey: rgba(194, 203, 229, 1);
$black: rgba(18, 23, 37, 1);
$white: rgba(255, 255, 255, 1);
$red: rgba(255, 62, 62, 1);
